@tailwind base;
@tailwind components;
@tailwind utilities;

.griddiv {
    /* width: 500px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
